.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #39445a;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    padding-bottom: 10px;
    box-shadow: 0px 1px 5px rgb(255, 80, 80);
    color: white;
    z-index: 100;
    /* background-image: linear-gradient(to right blue, green); */
    background-image: url("https://images.pexels.com/photos/267961/pexels-photo-267961.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }