* {
    scroll-behavior: smooth;
  }
  
  .app {
    min-height: 150vh;
    background-color: #39445a;
    color: white;
    padding-top: 93px;
    padding-bottom: 70px;
    /* background-image: linear-gradient(rgb(243, 161, 161),rgb(167, 240, 167)); */
    /* background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-image: url("../public/img-1.jpg");
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: right bottom, left top;
    /* background-repeat: no-repeat, repeat; */

  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }
  
  .pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 6.4vw;
    }
  }